div {
    height: 100px;
    width: 100px;
    background-color: sandybrown;
    border: 2px solid black;
    display: inline-block;
}

#box1 {
    position: static;
    background-color: aqua;
}

#box2 {
    position: relative;  /* relative means relative to  */
    top: 10px;
    background-color: azure;
}

#box3 {
    position: absolute;  /* absolute means relative to the parent or nearly positioned parent */
    top: 10px;
    left: 20px;
    background-color: chocolate;
}

#box4 {
    position: fixed;    /* Relative to the browser */
    right: 20px;
    background-color: brown;
}